// pre-loading
.pre-loading{
  position: fixed;
  left: 0;
  height: 100%;
  width: 100%;
  background: #fff;
  z-index: 1000;
  text-align: center;
  p{
    margin-top: 60px;
  }
  h1 {
    margin: 40px 0;
    font-size: 40px;
  }
  .progress {
    position: absolute;
    bottom: 20px;
    left: 50%;
    margin-left: -20px;
  }
}
// loaded
.loaded {
  .pre-loading {
    animation: fadeOutUp 0.4s ease-out 0.4s forwards;
  }
  animation: fadeInUp 0.4s ease-out 0.4s forwards;
}
// swiepr公共样式
.swiper-container {
  height: 100%;
  width: 100%;
  overflow: hidden;
  .swiper-pagination {
    .swiper-pagination-bullet {
      opacity: 0.8;
      background: #fff;
    }
    .swiper-pagination-bullet-active {
      background-image: url(../../assets/img/case2.jpg);
      background-size: contain;
      animation: rotateIn 0.4s ease-in ;
      transform: scale(1.5);
      opacity: 1;
    }
  }
}
// page-conetent公共样式
.page-content {
  position: relative;
  z-index: 99;
  padding-top: 60px;
  // page title 样式
  .page-title {
    margin-bottom: 40px;
    border-bottom: solid 1px #fff;
    h3 {
      color: #fff;
      font-size: 36px;
      line-height: 70px;
      text-align: center;
    }
  }
}
// 第一页
.page-1 {
  // 第一页swiper样式控制
  .swiper-pagination {
    .swiper-pagination-bullet {
      width: 20px;
      height: 10px;
      display: inline-block;
      background: #fff;
      opacity: 0.2;
      margin: 0 2.5px;
      border-radius: 20px;
      transition: opacity 0.5s, background-color 0.5s, width 0.5s;
    }
    .swiper-pagination-bullet-active {
      opacity: 1;
      background: #ffffff;
      transform: none;
      animation-name: none;
      width: 120px;
      transition-delay: 0s;
    }
  }
  #pagination-pg1 {
    bottom: 48px
  }
  #index-video {
    min-height: 100%;
    min-width: 100%;
    position: absolute;
  }
  &::after {
    content: " ";
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.2);
    left: 0;
    bottom: 0;
  }
  // swiper panel
  .panel {
    width: 700px;
    position: absolute;
    top: 25%;
    left: 50%;
    margin-left: -350px;
    text-align: center;
    letter-spacing: 10px;
    color: #fff;
    font-size: 54px;
    .title, .des {
      padding: 10px 0;
    }
    .screen {
      position: relative;
      font-size: 32px;
      letter-spacing: 15px;
      &::before {
        content: "";
        border-top-left-radius: 5px;
        border-bottom-left-radius: 5px;
        position: absolute;
        width: 50px;
        left: 0;
        top: 50%;
        margin-top: -2px;
        height: 4px;
        background: #fff;
      }
      &::after{
        content: "";
        border-top-right-radius: 5px;
        border-bottom-right-radius: 5px;
        position: absolute;
        width: 50px;
        right: 0;
        top: 50%;
        margin-top: -2px;
        height: 4px;
        background: #fff;
      }
    }
  }
  // swiper active 
  .swiper-slide-active {
    .title {
      opacity: 0;
      animation: fadeIn 0.8s linear 0.2s forwards;
    }
    .des {
      opacity: 0;
      animation: bounceIn 0.8s linear 0.8s forwards;
    }
  }
  .down {
    width: 35px;
    height: 20px;
    position: absolute;
    bottom: 5px;
    left: 50%;
    margin-left: -17.5px;
    border-radius: 10px;
    background: url("../../assets/img/downb.png");
    background-size: cover;
    animation: slideInDown 1.2s linear infinite;
    z-index: 99;
  }
}
// 第二页
.page-2 {
  position: relative;
  #star {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
  }
  #perspective {
    padding-top: 140px;
  }
  &.swiper-slide-active {
    h3 {
      animation: fadeInDown 0.8s ease-out 0s forwards;
    }
  }
}
// 第三页
.page-3 {
  background: url(../../assets/img/bg.jpg) no-repeat;
  background-size: cover;
  overflow: hidden;
  overflow: hidden;
  .pro-content {
    dl {
      width: 100%;
      background: rgba(255, 255, 255, 0.2);
      border: 1px solid #DEDEDE;
      padding: 30px 36px 30px 36px;
      text-align: center;
      transition: 0.3s;
      color: #fff;
      box-sizing: border-box;
      dt {
        height: 60px;
      }
      dd.title {
        font-size: 18px;
        color: #939393;
        line-height: 46px;
        padding-top: 6px;
      }
      dd.des {
        font-size: 16px;
        color: #ababab;
        line-height: 28px;
      }
    }
    dl:last-child {
      margin-right: 0;
    }
  }
  &.swiper-slide-active {
    h3 {
      animation: fadeInDown 0.8s ease-out 0s forwards;
    }
    .pro-content dl {
      animation: slideInUp .6s ease-in 0s forwards
    }
  }
}
// 第四页
.page-4 {
  background: url(../../assets/img/bg2.jpg) no-repeat;
  background-size: cover;
  &.swiper-slide-active {
    h3 {
      animation: fadeInDown 0.8s ease-out 0s forwards;
    }
  }
}
.page-footer {
  .page-content {
    color: #fff;
    height: 50%;
    background: url(../../assets/img/bg.jpg) no-repeat;
    background-size: cover;
  }
}
.sw-wrap {
  height: 100%;
  text-align: center;
  vertical-align: middle;
  background: #000;
  &.odd {
    background: #ccc;
  }
}

//page-2 星河 单独css

.yuan-main {
  width: 500px;
  height: 500px;
  position: absolute;
  left: 50%;
  top: 50%;
  margin: -250px 0 0 -250px;
  transform-style: preserve-3d;
  // transform: rotateX(-10deg) rotateY(10deg);
  // animation: rotateYuan 5s linear infinite;
  .yuan {
    position: absolute;
    height: 80px;
    width: 80px;
    border-radius: 50%;
    left: 50%;
    top: 50%;
    margin: -40px 0 0 -40px;
    .yuan-content {
      width: 100%;
      height: 100%;
    }
    &.yuan-1 {
      transform: rotateY(0deg) translateZ(240px);
      .yuan-content {
        background: rgb(158, 97, 73);
      }
    }
    &.yuan-2 {
      transform: rotateY(90deg) translateZ(240px);
      .yuan-content {
        transform: rotateY(90deg);
        background: rgba(150, 163, 32, 0.774);
      }
    }
    &.yuan-3 {
      transform: rotateY(180deg) translateZ(240px);
      .yuan-content {
        background: rgb(111, 101, 245);
      }
    }
    &.yuan-4 {
      transform: rotateY(270deg) translateZ(240px);
      .yuan-content {
        transform: rotateY(90deg);
        background: rgb(245, 47, 57);
      }
    }
    
  }
}
@keyframes rotateYuan {
  to {
    transform: rotateY(360deg)
  }
}